<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="box">
        <Txt></Txt>
        <List></List>
    </div>
</body>
<script>
    var app = new Vue();

    var Txt = {
        template:`<input type="text" v-model="str" @keyup.enter="add">`,
        data(){
            return{
                str : ""
            }
        },
        methods:{
            add(){
                app.$emit('msg',this.str);
                this.str = "";
            }
        }
    }

    var List = {
        template:`
            <ul>
                <li v-for="item in list">{{item}}</li>
            </ul>
        `,
        data(){
            return{
                list:[]
            }
        },
        created(){
            app.$on('msg',str=>{
                this.list.push(str);
            })
        }
    }
    var vm = new Vue({
        el:"#box",
        components:{
            Txt,List
        }
    })

</script>
</html>